* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    min-width: 200px;
    width: 200px;
    height: 300px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    background-color: #2e4231;
}

.special-card {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s linear;
}

.special-card:hover {
    transform: scale(1.2) rotate(5deg);
}

.card-left,
.card-right {
    width: 25%;
    height: 100%;
    padding: 15px 0;
    display: flex;
}

.card-left {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
}

.card-right {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    font-size: 30px;
    transform: scaleY(-1);
}

.card-left img,
.card-right img {
    width: 40%;
}

.card-middle {
    width: 50%;
    height: 60%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-middle img {
    width: 70%;
}

